*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    
}
.main{
    height: 657px;
    width: 1420px;
    background: hsl(0, 0%, 100%);
}
.card-info{
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: -600px;
}
#card-front{
    padding: 40px;
    margin-left: 70px;
    color: #f3f3f3;
}
#card-back{
    margin-left: 220px;
}
#card{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
}
svg{
    margin: 30px;
    position: absolute;
}
#name{
    position: relative;
    padding: 30px;
    bottom: -10px;
    justify-content: space-between;
    font-size: 18px;
}
span{
    position: relative;
    right: -330px;
    top: -40px;
    font-size: 15px;
}
#number{
    padding-left: 30px;
    letter-spacing: 3px;
    font-family: 'Space Grotesk', sans-serif;
    
}
input{
    border-radius: 4px;
    border-color: hsl(270, 3%, 87%);
    font-size: 18px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}
input:focus{
    /* outline: 2px solid hsl(278, 68%, 11%);; */
}
button{
    width: 300px;
    height: 40px;
    border-color: aliceblue;
    color: #f3f3f3;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    font-size: 15px;
    cursor: pointer;
    
}
#demo{
    justify-content: space-between;
    font-size: 14px;
    color: rgb(228, 54, 54);
    margin-top: 20px;
}
#demo1{
    display: none;
}
#demo2{
    display: none;
    margin-left: 150px;
    margin-top: -15px;
}
#wrong-format{
    color: rgb(228, 54, 54);
    font-size: 15px;
    margin-top: -22px;
    padding: 5px;
    display: none;
}
#details{
    position: relative;
    margin-top: -140px;
    padding-left: 30px;
    font-size: 1.2rem;
}
#ssid{
    position: absolute;
    font-size: medium;
    margin: 110px;
    right: 90px;
    color: #f3f3f3;
    font-size: 18px;
}

#form{
    /* position: relative; */
    color: black;
    margin-right: 254px;
    margin-top: 200px;
    font-size: 18px;
    font-weight: 500;
    /* display: none; */
}
/* CONFIRMATION PAGE */

#confirmation{
    display: none;
    margin-top: 330px;
    margin-right: 240px;
    text-align: center;
    color: hsl(273, 5%, 67%);
}
#thanks{
    color: hsl(278, 68%, 11%);
}
.icon{
    top: 180px;
    right: 310px;
}


/* MEDIA QUERY */


@media screen and (max-width: 375px) {
   
   .main{
    display: grid;
    /* flex-direction: column; */
        width: 375px;
        height:900px ;
   }

   #desktop{
    /* margin-top: 10px; */
    height: 260px;
    width: 375px;
    /* margin-top: 10px; */
   }

   #card-front{
    position: absolute;
    margin-top: 120px;
    margin-left: -10px;
    height: 120px;
    width: 280px;
    font-size: 16px;
}

#card-front>svg{
    height: 20px;
    width: 30px;
    display: none;
}
#card-front h2{
    margin-top: 70px;
    margin-left: -29px;
    font-size: 16px;
}
#name{
    margin-top: -30px;
    margin-left: -30px;
    font-size: 14px;
    /* color: red; */
}
.divSpan{
    border: 2px solid red;
    width: 60px;
    font-size: 14px;
    margin-top: -35px;
    margin-left: 150px;
    /* margin-right: 120px; */
    /* color: blue; */
}
  
   #card-back{
    margin-top: 50px;
    margin-left: 80px;
    height: 120px;
    width: 280px;
    /* display: none; */
   }
    #card{
   width: 260px;
   }
   #ssid{
    margin-top: 60px;
    margin-right: 20px;
   }

   #form{
    position: relative;
    margin-left: -330px;
    margin-top: 320px;
    width: 350px;
    height: 40px; 
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: -10px;
    /* border: 2px solid blue; */
    /* display: none; */
   }
   .me{
    display: flex;
    flex-direction: row;
    border: 2ps solid green;
    /* padding: 13px; */
    width: 370px;
    height: 30px;
   }
   /* .me>input{
    width: 60px;
   } */
   #form>input{
    width: 350px;
    height: 20px;
   }

 }